.small-width{
    max-width: 40px !important;
    
}
.base-font-size{
    font-size: 12px;
}
.ultra-small{
    font-size: 8.6px;
}
.a4-size{
    min-width: 794px !important;
    max-width: 794px !important;
}
.a4-aspect-ratio{
    aspect-ratio: 1/1.4142 !important;
}