.small-width{
    max-width: 40px !important;
    
}
.base-font-size{
    font-size: 12px;
}
.ultra-small{
    font-size: 8.6px;
}
.a4-size{
    min-width: 825px !important;
    max-width: 825px !important;
}